* {
  margin: 0;
}

body {
  font-family: Arial;
  font-size: 16px;
  min-width: 25em;
  min-height: 15em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container {
  text-align: center;
  max-width: 35em;
  padding: 1em;
  border: 0.15em solid black;
}

#container h1 {
  margin: 0.5em;
}

footer {
  display: flex;
  margin: 2em;
}

a {
  color: Blue;
}

footer p a::after {
  content: attr(href);
}